{% extends "home/basic.html" %}

{% block title %}
  CONTACTUS PAGE
{% endblock title %}

{% block css %}

{% endblock css %}

{% block body %}
<div class="container">
    
    <div class="row">
        <h1 class="display-1 text-center" style="color: #006622" >
           CONTACT US !!! 
        </h1>
        
        <div class="col-12">
        <form action="/contactsubmit/" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">EMAIL ADDRESS : </label>
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            <div class="mb-3">
              <label for="name" class="form-label">NAME : </label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
        
            <div class="mb-3">
              <label for="phoneNum" class="form-label">PHONE NUMBER : </label>
              <input type="text" class="form-control" id="phoneNum" name="phone" aria-describedby="numHelp">
              <div id="numHelp" class="form-text">We'll never share your Phone number with anyone else.</div>
            </div>
        
            
            
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a Problems here" name="desc" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">DESCRIPTION : </label>
              </div>
        
              <div class="input-group mb-3">
                <input type="file" name="screenshot" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
              </div>
        
            <button type="submit" class="btn btn-danger">SUBMIT !!</button>
          </form>
    </div>
    </div>
</div>


{% endblock body %}